<footer class="center-align">
    <p>A project of full-stack developer, <a href="http://www.marcelhamel.com">Marcel Hamel</a>, Squiddit is a discussion forum where you can rant and rave about everyone's favorite cephalopods.</p>
  </footer>
