  <header id="header">

    <a href="/squiddit"><h1 class="hvr-skew">Squiddit</h1></a>
    <!-- Checks to see if user session exists, adjust header accordingly -->
    <% if (req.session.user) { %>
      <p>You are logged in as <%= req.session.user %>  <a href="/users/logout" class="hvr-skew">LOG OUT</a></p>
    <% } else { %>
      <a href="/users/login" class="hvr-skew">LOGIN / SIGN UP</a>
    <% } %>

  </header>
