s<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <!-- CSS links -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

  </head>
  <body>

    <header id="header">

      <a href="/squiddit"><h1>Squiddit</h1></a>

      <!-- Checks to see if user session exists, adjust header accordingly -->
      <% if (req.session.user) { %>
        <p>You are logged in as <%= req.session.user %>  <a href="/users/logout">LOG OUT</a></p>
      <% } else { %>
        <a href="/users/">LOGIN / SIGN UP</a>
      <% } %>

    </header><!-- /header -->
    <main>

      <!-- Placeholder for error message for invalid user -->
      <% if (req.query.invalid === "user") { %>
      <div class="warning">
        <p>Invalid! User already exists with that name</p>
      </div>
      <% } %>
      <% if (req.query.invalid === "badlogin") { %>
      <div class="warning">
        <p>Invalid Username or Password!</p>
      </div>
      <% } %>

      <!-- Login Controls -->
      <div class="login-controls">
        <h1>Login Below</h1>
          <form method="GET" action="/users/verify">
            <input type="text" name="name" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Login" />
          </form>
      </div>

      <!-- Sign Up Controls -->
      <div class="login-controls">
        <h1>Not A Member? Sign-up?</h1>
          <form method="POST" action="/users/">
            <input type="text" name="newUser[name]" placeholder="Username" />
            <input type="password" name="newUser[password]" placeholder="Password" />
            <input type="submit" value="Sign Up" />
          </form>
      </div>

    </main>
  </body>
</html>
