<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ADD A NEW TOPIC</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>Add A New Topic</h1>
  <form method="post" action="/squiddit">
    <label for="subject">SUBJECT:</label><br>
    <input type="text" name="topics[subject]" placeholder="subject"><br>
    <label for="content">CONTENT:</label><br>
    <input type="text" name="topics[content]" placeholder="content"><br>
    <button type="submit">SUBMIT</button>
  </form>
</body>
</html>
