<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ADD A NEW TOPIC</title>
  <!-- CSS links -->
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <header id="header">

    <a href="/squiddit"><h1>Squiddit</h1></a>
    <% if (req.session.user) { %>
    <p>You are logged in as <%= req.session.user %>  <a href="/users/logout">LOG OUT</a></p>
    <% } else { %>
    <a href="/users/login">LOGIN / SIGN UP</a>
    <% } %>

  </header><!-- /header -->

  <main>
  <h1>Add A New Topic</h1>
  <form method="post" action="/squiddit">
    <label for="subject">SUBJECT:</label><br>
    <input type="text" class="newsubject" name="topics[subject]" /><br>
    <label for="content">CONTENT:</label><br>
    <textarea type="text" class="newcontent" name="topics[content]" /></textarea><br>
    <button type="submit" class="submit">SUBMIT</button>
  </form>
</main>
</body>
</html>
