<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADD A NEW TOPIC</title>

    <!-- JS links -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/f1ff63a0b2.js"></script>

    <!-- CSS links -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

    <% include ../partials/nav %>

    <main>

      <h1>Add A New Topic</h1>

      <!-- New Topic Form -->
      <form method="post" action="/squiddit">
        <label for="subject">SUBJECT:</label><br>
        <input type="text" class="newsubject" name="topics[subject]" /><br>
        <label for="content">CONTENT:</label><br>
        <textarea type="text" class="newcontent" name="topics[content]" placeholder="This field supports HTML formatting!"/></textarea><br>
        <button type="submit" class="btn purple darken-2 right">SUBMIT</button>
      </form>

    </main>
    <% include ../partials/footer %>
  </body>
</html>
